* {
  margin: 0;
  box-sizing: border-box;
  font-family: "rubik", sans-serif;
}

/* -----------------Hero------------------------ */
.hero {
  background-color: #1f2937;
  padding: 0 16%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: #f9faf8;
}

nav ul li a {
  text-decoration: none;
  color: #f9faf8;
  font-size: 18px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 0;
}

.hero-left {
  width: 37%;
}

.hero-left h1 {
  font-size: 48px;
  color: #f9faf8;
}

.hero-left p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-left button {
  height: 40px;
  width: 120px;
  font-size: 16px;
  font-weight: 600;
  background-color: #3882f6;
  color: #e5e7eb;
  border: none;
  border-radius: 8px;
  margin-top: 12px;
}

.hero-right {
  width: 50%;
}

.hero-right div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: #6d737c;
  height: 250px;
  color: #f9faf8;
}

/* ---------------------information----------------------- */

.information {
  padding: 48px 16% 100px;
}

.information h2 {
  font-size: 36px;
  font-weight: 600;
  color: #1f2937;
  text-align: center;
  padding-bottom: 48px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.card {
  width: 180px;
}

.card .image {
  height: 190px;
  width: 180px;
  border: 5px solid #3882f6;
  border-radius: 18px;
}

.card p {
  color: #838a93;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
}

/* -------------------------Quote---------------------- */

.quote {
  background-color: #e5e7eb;
  padding: 100px 23% 100px;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
  padding-bottom: 16px;
}

.quote-from {
  font-size: 24px;
  font-weight: 500;
  text-align: end;
}

/* ----------------------Action------------------------ */
.action {
  padding: 100px 16% 100px;
}

.action-box {
  background-color: #3882f6;
  height: 160px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 120px;
}

.action-text {
  flex: 2;
}

.action-text h3 {
  font-size: 24px;
  font-weight: 600;
  color: #f9faf8;
}

.action-text p {
  font-size: 18px;
  color: #f9faf8;
}

.action-button {
  flex: 1;
  display: flex;
  justify-content: end;
}

.action-button button {
  height: 40px;
  width: 120px;
  font-size: 16px;
  font-weight: 600;
  background-color: #3882f6;
  color: #e5e7eb;
  border: 2px solid #e5e7eb;
  border-radius: 8px;
  margin-top: 12px;
}
