* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --main-bg-color : #1F2937;
  --second-bg-color: #E5E7EB;
  --main-btn-color: #3882F6;
  --main-font-color: #F9FAF8;
  --second-font-color: #E5E7EB;
  --third-font-color: #1F2937;
  --fourth-font-color: #7d7d7e;
}

body {
  font-family: "Roboto", serif;
  display: flex;
  flex-direction: column;
}
 /* Header section */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 22%;
  background-color: var(--main-bg-color);
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: var(--main-font-color)
}

.navbar {
  display: flex;
  align-items: center;
  gap: 12px;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: var(--second-font-color);
}
 /* Hero section */

.hero {
  display: flex;
  gap: 32px;
  justify-content: space-between;
  padding: 110px 22%;
  background-color: var(--main-bg-color);
}

.img-hero {
  flex: 0 1 50%;
  background-color: #717172;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-hero {
  flex: 0 1 50%;
}

.text-hero h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--main-font-color);
  margin-bottom: 10px;
}

.text-hero p {
  font-size: 18px;
  color: var(--second-font-color);
  margin-bottom: 18px;
}

.btn-signup {
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: var(--main-btn-color);
  color: #E5E7EB;
  cursor: pointer;
}

/* Information */

.information {
  padding: 50px 22%;
  margin-bottom: 100px;
}

.information h2 {
  font-size: 36px;
  font-weight: 900;
  color: var(--third-font-color);
  text-align: center;
  margin-bottom: 50px;
}

.information-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 18px;
}

.card {
  width: 170px;
  text-align: center;
  font-size: 18px;
  color: var(--fourth-font-color);
}

.card-image {
  width: 170px;
  height: 170px;
  margin-bottom: 10px;
  border: 4px solid var(--main-btn-color);
  border-radius: 20px
}

/* quote section */

.quote {
  background-color: var(--second-bg-color);
  padding: 110px 28%;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: var(--third-font-color);
  margin-bottom: 10px;
}

.quote-from {
  font-size: 24px;
  font-weight: 800;
  text-align: right;
}

/* action section */

.action {
  padding: 90px 22%;
}

.signup-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882F6;
  border-radius: 15px;
  padding: 50px 90px;
}

.signup-header {
  font-size: 24px;
  color: var(--main-font-color);
}

.signup-subtext {
  color: var(--second-font-color);
}

.btn-action {
  border: 2px solid var(--main-font-color);
  flex-shrink: 0;
}

/* footer */

footer {
  padding: 40px;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--main-font-color);
}

/* responsive web */

@media only screen and (max-width: 1365px) {
  header, .hero, .information, .quote , .action , footer {
    padding-left: 5%;
    padding-right: 5%;
  }
}